<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pico Sakura - ピコサクラ - テキスト音楽「サクラ」</title>
  {{include 'parts_header_common.html'}}
  {{include 'parts_header_pico_player.html'}}
</head>

<body id="picosakura-body">
  <!-- for sakuramml -->
  {{ include 'pico_player.html' }}
  <div id="picosakura-player">
    <div id="app-title">
      <div id="app-title-bar">
        <div class="app-title-bar-l"></div>
        <div class="app-title-bar-c"><h1 id="app-title-h1">Pico Sakura</h1></div>
        <div class="app-title-bar-r"><button id="app-title-bar-help">?</button></div>
      </div>
      <div id="splash-window" style="display: none;">
        <p id="splash-window-body">This is a user-friendly music production tool that allows music creation directly in the browser. It converts text into music and plays it back.</p>
        <p><button id="splash-window-ok">OK</button></p>
      </div>
    </div>
    <div id="player-outer" class="front-panel">
      <div id="player" style="display:none;">
        <div>
          <button id="btnPlay" class="play-button">▶ PLAY</button>
          <button id="btnStop" class="stop-button">□</button>
          <button id="btnPiano" class="piano-button">🎹</button>
        </div>
      </div><!-- /#player -->
      <div id="txt-outer">
        <div id="piano-outer" style="display:none;">
          <div>
            <canvas id="piano-canvas"></canvas>
          </div>
          <div class="piano-parts">
            <label for="chkPiano">
              &nbsp;<input type="checkbox" id="chkPiano" checked="checked">&nbsp;<span class="lang">Insert</span>
            </label>
            <label for="chkPianoPlay">
              &nbsp;<input type="checkbox" id="chkPianoPlay" checked="checked">&nbsp;<span class="lang">Sound</span>
            </label>&nbsp;
            <button onclick="insertToText('ー')">ー</button>&nbsp;
            <button onclick="insertToText('BS')">BS</button>&nbsp;
            <button onclick="insertToText(' | ')">|</button>&nbsp;
          </div>
        </div>
        <textarea id="txt" wrap="off" cols="60" rows="{{$textareaRows}}">{{e echo htmlspecialchars($utf8_mml, ENT_QUOTES);}}</textarea>
      </div>

      <!-- status_bar -->
      <div id="status_bar">
        <span class="box" id="lineno-info">line: 000</span>
        <span class="box">
          <span id="sakura_version">v.?.?</span>
        </span>
        <span class="player-synth-selector box">
          <label for="pico"><input type="radio" id="pico" class="pure-checkbox" name="player_type" value="pico"> picoaudio</label>
          <label for="soundfont"><input type="radio" id="soundfont" class="pure-checkbox" name="player_type" value="sf" checked="1"> soundfont</label>
        </span>
      </div><!-- /status_bar -->
      <div id="msg" style="padding:0.5em; display:none;"></div>

      <!-- tools -->
      <div id="descript-open" style="display:none;">
        <button class="open-button">🔧</button>
      </div>
      <div id="descript">

        <div id="descript-title">
          <h2>🔧 Tools</h2>
          <button id="descript-close">×</button>
        </div>

        <div class="tool">
          <h3>Voice List</h3>
          <div class="insertButtons">
            <div id="voice-list" style="flex:4"></div>
            <button onclick="insertVoice()" style="flex:1" class="lang">Insert</button>
          </div>
          <div class="insertButtons">
            <input type="text" id="voice-list-mml" size="15" value="o5l8ドレミソ↑ドー↓「ドミソ」1" style="flex:4">&nbsp;
            <button onclick="testVoice()" style="flex:1" class="lang">Test</button>
          </div>
        </div><!-- /.tool -->

        <div class="tool">
          <h3>Command List</h3>
          <div class="insertButtons">
            <div id="command-list" style="flex:5"></div>
            <button onclick="insertCommand()" style="flex:1" class="lang">Insert</button>
          </div>
        </div><!-- /.tool -->

        <div class="tool">
          <div id="descript-ja">
            <h3>サクラの簡単な使い方:</h3>
            <p>テキストボックスに「ドレミファソラシ」と書いて[Play]ボタンを押すと音が鳴ります。休符は「ッ」か「ン」です。「ソーミソラーソー」と「ー」を書くと二倍の長さになります。</p>
            <p>四分音符は「ド4」、八分音符は「レ8」、付点四分音符は「ミ4.」のように記述します。また「音符8」と書くと八分音符がデフォルト音長になります。</p>
            <p>「音階5」とか「音階4」と書くとオクターブが変わります。「↑」や「↓」と書くと相対的にオクターブを変更します。『「ドミソ」』と書くと和音が鳴ります。</p>
            <p>トラックを切り替えるには「トラック2」「トラック3」と書きます。「トラック10」が打楽器専用です。</p>
            <p>音色を変えるには「音色(GrandPiano)」のように書きます。Voice Listから挿入できます。</p>
            <p>Save Listはブラウザの一時領域に保存するだけなので、保存した後<a href="https://sakuramml.com/mmlbbs6/post.php?action=edit" target="_new">🔗曲掲示板6...</a>に投稿してください。</p>
            <p>ショートカットキー: [F9]で再生、[F10]で停止</p>
            <p>
              <a target="_blank" href="https://sakuramml.com/go.php?16">🔗文法例...</a> /
              <a target="_blank" href="https://github.com/kujirahand/sakuramml-rust/blob/main/src/command.md">🔗コマンド一覧...</a> /
              <a target="_blank" href="https://sakuramml.com/index.php?FAQ">🔗FAQ...</a> /
              <a target="_blank" href="<?php echo $baseUrl ?>/download-to-wav.html">🔗WAV形式で書き出す...</a>
            </p>
          </div>
          <div id="descript-en">
            <h3>About Picosakura</h3>
            <p>This is a user-friendly music production tool that allows music creation directly in the browser. It converts text into music and plays it back.</p>
            <h3>Shortcut key</h3>
            <ul>
              <li>Play : F9</li>
              <li>Stop : F10</li>
            </ul>
            <h3>Command List</h3>
            <p>
              <a target="_new" href="https://github.com/kujirahand/sakuramml-rust/blob/main/src/command.md">🔗Command list...</a>
            </p>
          </div>
        </div><!-- /.tool -->

        <div class="tool">
          <h3>Save List</h3>
          <p>Save: <span id="save-list"></span></p>
          <p>Load: <span id="load-list"></span></p>
        </div><!-- /.tool -->

        <div class="tool">
          <h3>Skin</h3>
          <div id="skin-type-selector">
            <label for="skin-sakura"><input class="skin-type" type="radio" name="skin-type" id="skin-sakura">Sakura</label> /
            <label for="skin-wood"><input class="skin-type" type="radio" name="skin-type" id="skin-wood">Wood</label> /
            <label for="skin-kirin"><input class="skin-type" type="radio" name="skin-type" id="skin-kirin">Kirin</label> /
            <label for="skin-sakura2"><input class="skin-type" type="radio" name="skin-type" id="skin-sakura2">Sakura2</label> /
            <label for="skin-white"><input class="skin-type" type="radio" name="skin-type" id="skin-white">White</label> /
            <label for="skin-green"><input class="skin-type" type="radio" name="skin-type" id="skin-green">Green</label> 
          </div>
        </div><!-- /.tool -->

      </div><!-- /#descript -->
    </div><!-- /player-outer -->
  </div>
  <br><br><br><br>
  <div id="picosakura-footer">
    <div>
      <span class="footer-link">
        <a href="https://sakuramml.com/" target="_new">sakuramml.com</a>
      </span> &gt;
      <span class="footer-link">
        <a href="https://sakuramml.com/picosakura/" target="_new">picosakura</a>
      </span> -
      <span class="footer-link">
        <a href="https://github.com/kujirahand/picosakura" target="_new">(repo.)</a>
      </span>
    </div>
  </div>

  <script>
    window.picosakura_base_url = '{{$baseUrl}}';
    window.addEventListener('load', () => {
      // load SoundFont
      SF_loadSoundFont('{{$baseUrl}}/synth/TimGM6mb.sf2');
      // initScript
      {{ $initScript }}
    });
  </script>
</body>

</html>
