<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PicoSakura - ピコサクラ - テキスト音楽「サクラ」</title>
  <!-- baseUrl: {{$baseUrl}} -->  
  <!-- css -->
  <link rel="stylesheet" href="{{$baseUrl}}/resource/skin.css?m={{e:echo pico_get_resource_mtime('skin.css')}}">
  <link rel="stylesheet" href="{{e:echo pico_template_url('pico_common.css')}}">
</head>

<body id="picosakura-body">
  <div id="picosakura-player">
    
    <div id="app-title">
      <div id="app-title-bar">
        <div id="app-title-bar-home" class="app-title-bar-l"><a href="https://sakuramml.com/">&lt; 🏠</a></div>
        <div class="app-title-bar-c"><h1 id="app-title-h1">PicoSakura</h1></div>
        <div class="app-title-bar-r"><button id="app-title-bar-help">?</button></div>
      </div>
    </div>

    <!-- #app-loader-->
    <div id="app-loader">
      <div><img src="{{$baseUrl}}/resource/loader.gif"></div>
      <div id="app-loader-msg"> Now Loading ... </div>
    </div>

    <div id="player-outer" class="front-panel">
      <div id="player" style="display:none;">
        <div>
          <!-- menu -->
          <div style="text-align: right;">
            <label for="player-tools-toggleMenu" id="player-tools-toggle">🔧 Tools</label>
            <label for="player-files-toggleMenu" id="player-files-toggle">📁 Files</label><br>
          </div>
          <!-- tools -->
          <input type="checkbox" id="player-tools-toggleMenu">
          <div id="player-tools" class="player-tools" style="text-align: right;">
            <button id="btnPiano" class="piano-button-x3">🎹 Piano</button>
            <button id="btnToolVoice" class="piano-button-x3">🎻 Voice</button>
            <button id="btnToolCommand" class="piano-button-x3">📝 Cmd</button>
          </div>
          <!-- /tools -->
          <!-- files -->
          <input type="checkbox" id="player-files-toggleMenu">
          <div id="player-files" class="player-files">
            <p>Save: <span id="save-list"></span></p>
            <p>Load: <span id="load-list"></span></p>
            <p style="text-align: left; background-color: rgba(255, 255, 255, 0.8);">
              - <a target="_blank" id="export_wav" class="lang" href="<?php echo $baseUrl ?>/tools/wav_converter.html">export to
                WAV</a>
            </p>
          </div>
          <!-- /files -->
          <!-- player -->
          <button id="btnPlay" class="play-button">▶ PLAY</button>
          <button id="btnStop" class="stop-button"> ⏸ </button>
          <input id="playRange" type="range" style="width: 10em;" value="0" max="1000">
        </div>
      </div><!-- /#player -->
      <div id="txt-outer">
        <div id="piano-outer" style="display:none; text-align: right;">
          <div>
            <canvas id="piano-canvas"></canvas>
          </div>
          <div class="piano-parts">
            <label for="chkPiano">
              &nbsp;<input type="checkbox" id="chkPiano" checked="checked">&nbsp;<span class="lang">Insert</span>
            </label>
            <label for="chkPianoPlay">
              &nbsp;<input type="checkbox" id="chkPianoPlay" checked="checked">&nbsp;<span class="lang">Sound</span>
            </label>&nbsp;
            <label for="chkPianoSutoton">
              &nbsp;<input type="checkbox" id="chkPianoSutoton" checked="checked">&nbsp;<span class="lang">cde</span>
            </label>&nbsp;
            <button id="btnPiano_h">ー</button>&nbsp;
            <button id="btnPiano_bs">BS</button>&nbsp;
            <button id="btnPiano_v">|</button>&nbsp;
          </div>
        </div>
        <textarea id="txt" wrap="off" cols="60" rows="{{$textareaRows}}">{{e echo htmlspecialchars($utf8_mml, ENT_QUOTES);}}</textarea>
      </div>

      <!-- status_bar -->
      <div id="status_bar">
        <span class="box" id="status-msg">-</span>
        <span class="box" id="lineno-info">line: 000</span>
        <span class="box">
          <span id="sakura_version">ver.?.?.?</span>
        </span>
        <span class="player-synth-selector box">
          <label for="pico"><input type="radio" id="pico" class="pure-checkbox" name="player_type" value="pico"> picoaudio</label>
          <label for="soundfont"><input type="radio" id="soundfont" class="pure-checkbox" name="player_type" value="sf" checked="1"> soundfont</label>
        </span>
      </div><!-- /status_bar -->
      <div id="msg" style="padding:0.5em; display:none;"></div>

      <!-- tools -->
      <div id="descript-open" style="display:none;">
        <button class="open-button">🔧</button>
      </div>
      <div id="descript">

        <div id="descript-title">
          <h2>🔧 Tools</h2>
          <button id="descript-close">×</button>
        </div>

        <div class="tool">
          <div id="descript-ja">
            <h3>サクラの簡単な使い方:</h3>
            <p>
              上にあるテキストボックスに「ドレミファソラシ」と書いて[Play]ボタンを押すと音が鳴ります。<br>
              画面上部の[🔧Tools]から音符(Piano)や音色(Voice)、コマンド(Command)を挿入できます。<br>
              [📁Files]から楽譜を保存できますが、ブラウザに保存するだけなので、最終的に<a href="https://sakuramml.com/mmlbbs6/post.php?action=edit" target="_new">🔗曲掲示板6...</a>に投稿してください。<br>
              ショートカットキーの[F9]で再生、[F10]で停止できます。
            </p>
            <p>
              <a target="_blank" href="https://sakuramml.com/go.php?16">🔗音符の書き方...</a> /
              <a target="_blank" href="https://github.com/kujirahand/sakuramml-rust/blob/main/command.md">🔗コマンド一覧...</a> /
              <a target="_blank" href="https://sakuramml.com/index.php?FAQ">🔗FAQ...</a> /
            </p>
          </div>
          <div id="descript-en">
            <h3>About Picosakura</h3>
            <p>This is a user-friendly music production tool that allows music creation directly in the browser. It converts text into music and plays it back.</p>
            <p>Shortcut key: (Play : F9 / Stop : F10)</p>
            <h3>Command List</h3>
            <p>
              <a target="_new" href="https://github.com/kujirahand/sakuramml-rust/blob/main/command.md">🔗Command list...</a>
            </p>
          </div>
        </div><!-- /.tool -->

        <div class="tool">
          <h3>Skin</h3>
          <div id="skin-type-selector">
            <select id="skin-select">
              <option value="skin-sakura1">Sakura1</option>
              <option value="skin-sakura2">Sakura2</option>
              <option value="skin-sakura3">Sakura3</option>
              <option value="skin-green">Green</option>
              <option value="skin-wood">Wood</option>
              <option value="skin-wood-tile">Wood Tile</option>
              <option value="skin-wood2">Wood2</option>
              <option value="skin-wood3">Wood3</option>
              <option value="skin-wood4">Wood4</option>
              <option value="skin-kirin">Kirin</option>
              <option value="skin-white">White</option>
            </select>
          </div>
        </div><!-- /.tool -->

      </div><!-- /#descript -->
    </div><!-- /player-outer -->
  </div>
  <br><br><br><br>
  <div id="picosakura-footer">
    <div>
      <span class="footer-link">
        <a href="https://sakuramml.com/" target="_new">sakuramml.com</a>
      </span> &gt;
      <span class="footer-link">
        <a href="https://sakuramml.com/picosakura/" target="_new">picosakura</a>
      </span> -
      <span class="footer-link">
        <a href="https://github.com/kujirahand/picosakura" target="_new">(repo.)</a>
      </span>
    </div>
  </div>

  <!-- ****** -->
  
  <!-- script -->
  <script>
  // Register Service Worker
  if ('serviceWorker' in navigator) {
    window.addEventListener('load', () => {
      navigator.serviceWorker.register('{{$baseUrl}}/service-worker-pico.js?v=3').then(registration => {
        console.log('ServiceWorker registration successful with scope: ', registration.scope);
      }, err => {
        console.log('ServiceWorker registration failed: ', err);
      });
    });
  } else {
    alert('Service Worker is not supported in this browser.\n' +
      'このブラウザではピコサクラは動きません。');
  }
  </script>

  <!-- script_for_sakumml::begin -->
  <script type="module" src="{{$baseUrl}}/synth/sakuramml_loader_js.php?ver={{ $picosakuraVersion }}"></script>
  <script type="module" src="{{$baseUrl}}/src/main.js"></script>
  <script type="module">
    {{ $initScript }}
  </script>
  <!-- script_for_sakumml::end -->
</body>
</html>
