  <!-- for picosakura -->
  <link rel="stylesheet" href="{{$baseUrl}}/resource/player.css?m={{$m_player_css}}">
  <script src="{{$baseUrl}}/resource/lang.js"></script>
  <script src="{{$baseUrl}}/resource/picosakura_editor.js"></script>

  <!-- + music player -->
  <!-- | js-synthesizer -->
  <script src="{{$baseUrl}}/synth/libfluidsynth-2.3.0-with-libsndfile.js"></script>
  <script src="{{$baseUrl}}/synth/js-synthesizer.js"></script>
  <script src="{{$baseUrl}}/synth/soundfont_player.js"></script>
  <!-- | picoaudio player -->
  <script src="https://unpkg.com/picoaudio/dist/browser/PicoAudio.js"></script>

