<div class="tool">
    <div class="insertButtons">
        <div id="voice-list" style="flex:4"></div>
        <button id="insert-btn" onclick="window._picosakura.insertVoice()" style="flex:1" class="lang">Insert</button>
    </div>
    <div class="insertButtons">
        <input type="text" id="voice-list-mml" size="15" value="o5l8ドレミソ↑ドー↓「ドミソ」1" style="flex:4">&nbsp;
        <button onclick="window._picosakura.testVoice()" style="flex:1" class="lang">Test</button>
    </div>
    <div class="insertButtons">
        <input type="text" id="voice-list-clip" size="15" value="音色(GrandPiano)" style="flex:4">&nbsp;
        <button onclick="window._picosakura.copyVoice()" style="flex:1" class="lang">Copy</button>
    </div>
</div><!-- /.tool -->
