
<script type="module">
    
    // Load WebAssembly
    import init,
    {
        get_version,
        SakuraCompiler
    }
        from 'https://cdn.jsdelivr.net/npm/sakuramml@{{$picosakuraVersion}}/sakuramml.js';

    // sakura version
    let sakuraVession = '?.?.?'
    // global
    window.player_sf = null
    window.player_pico = null

    // Init WebAssembly
    init().then(() => {
        sakuraVession = get_version()
        console.log(`loaded: sakuramml v.${sakuraVession}`)
        document.getElementById('player').style.display = 'block'
        document.getElementById('sakura_version').innerHTML = 'ver.' + sakuraVession
        if (typeof (window._picosakura) === 'undefined') { window._picosakura = {}; }
        window._picosakura.get_version = get_version
        window._picosakura.SakuraCompiler = SakuraCompiler
        window._picosakura.lang = '{{$picosakuraLang}}'
    }).catch(err => {
        console.error(err);
        document.getElementById('msg').innerHTML = '[LOAD_ERROR]' + tohtml(err.toString())
    });

</script>
