#picosakura-player h1 {
    color: gray;
    background-color: #fff0f0;
    padding: 0.3em;
    font-size: 1.1em;
    text-align: center;
}
#picosakura-player {
    padding: 0;
}
#player-outer {
    margin: 0;
    padding: 0;
}
#player {
    text-align: center;
}
#picosakura-player #txt-outer {
    text-align: center;
}
#picosakura-player #txt_info {
    text-align: left;
    font-size: 0.9em;
    color: gray;
    background-color: white;
    padding: 4px;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
}
#picosakura-player .player-synth-selector {
    background-color: #f0f0f0;
}

#picosakura-player .play-button {
    width: 9em;
    font-size: 0.9em;
    margin: 0.2em;
}
#picosakura-player .stop-button {
    width: 6em;
    font-size: 0.9em;
    margin: 0.2em;
}

#picosakura-footer {
    border-top: solid 1px silver;
    text-align: center;
    font-size: 0.8em;
    color: gray;
    margin: 0.2em;
    padding-top: 1em;
}

#msg {
    color: gray;
    font-size: 0.8em;
    margin: 0.2em;
}
.error {
    color: red;
    text-decoration: none;
}
.error:hover {
    text-decoration: underline;
}

/* textarea line number */
/* textareaを覆うラッパー要素 */
.line-number-wrapper {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
}

/* 行番号を表示する要素 */
.line-numbers {
    position: absolute;
    padding-top: 8px;
    /* Match the padding of the textarea */
    font-family: monospace;
    font-size: 1em;
    line-height: 1.3em;
    height: 100%;
    overflow: hidden;
    margin: 0;
    border-right: 1px solid silver;
    box-sizing: border-box;
    width: 32px;
    color: silver;
    background-color: #f0f0f0;
}

/* textarea */
#picosakura-player #txt {
    background-color: white;
    tab-size: 4;
    padding: 8px;
    /* --- for lineno --- */
    position: absolute;
    left: 32px;
    /* Make room for the line numbers */
    width: calc(100% - 32px);
    /* Subtract the width of the line numbers */
    height: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
    padding: 8px;
    font-family: monospace;
    font-size: 1em;
    line-height: 1.3em;
    overflow: hidden;
}

#status_bar {
    width: 100%;
    text-align: right;
    font-size: 0.8em;
    color: gray;
    margin-right: 8px;
    margin-top: 4px;
}
#status_bar .box {
    border: 1px silver solid;
    padding: 2px;
}

#descript {
    border: dashed 2px silver;
    margin: 0px 4px 4px 4px;
    padding: 0px 8px 8px 8px;
}
#descript h2 {
    font-size: 1.0em;
    background-color: #fff0f0;
    padding: 0.3em;
}
#descript h3 {
    font-size: 1.0em;
    border-bottom: 1px solid silver;
}
#descript p {
    padding-left: 2em;
}
#descript-close {
    font-size: 1em;
}
#descript-title {
    display: grid;
    grid-template-columns: 1fr auto;
    /* 左側に1フラクションの幅を割り当て、右側に自動の幅を割り当てる */
    align-items: center;
}
#descript-title h2 {
    padding-left: 0.3em;
}
