
/* define skin */
.skin-white {
    background-color: #f9f9f9;
}

.skin-sakura1 {
    background-image: url(sakura1.jpg);
    background-repeat: repeat;
}

.skin-sakura2 {
    background-image: url(sakura2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.skin-sakura3 {
    background-image: url(sakura-cloud.jpg);
    background-repeat: repeat;
}

.skin-kirin {
    background-image: url(kirin.jpg);
    background-size: cover;
}

.skin-green {
    background-image: url(green2.jpg);
    background-repeat: repeat;
}

.skin-wood {
    background-image: url(wood.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.skin-wood-tile {
    background-image: url(wood-tile.jpg);
    background-repeat: repeat;
}
.skin-wood2 {
    background-image: url(wood2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.skin-wood3 {
    background-image: url(wood3.jpg);
    background-repeat: repeat;
}
.skin-wood4 {
    background-image: url(wood4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}